html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 5px solid rgb(182, 109, 37);
    width: 80%;
    height: 70%;
    min-height: 500px;
    justify-content: space-evenly;
    max-width: 500px;
    border-radius: 20%;
    box-shadow: 0px 3px 0px 2px rgb(92, 66, 18), 3px 7px 4px 2px rgb(49, 39, 39) ;
    background: transparent;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: linear-gradient(#205300 0%,#346e03 70%, #205300 100%); */
    background: radial-gradient(#346e03, #205300);
}

#casic{
    width: 100%;
    /* outline: 1px solid black; */

}

.carts{
    width: fit-content;
    height: fit-content;
    outline: 1px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    background: #e7e7e78c;

}
.total{
    width: fit-content; 
    height: fit-content;
    /* outline: 1px solid gray; */
    margin: 10px;
    /* text-shadow: 0px 0px 0px rgb(0, 0, 0); */
    /* font-weight: bold; */
}
.help{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
#actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#actions > div{
    outline: 1px solid rgb(0, 0, 0);
    width: fit-content;
    margin: 5px;
    padding: 3px;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px black;
}
#actions > div:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 1px 2px -1px black;

}
#head{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}
#hidden{
    padding: 2px;
}
#idkName{
    width: 80%;
    max-width: 500px;
    /* outline: 1px solid black; */
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center
}
#idkName > input[type='button']{
    margin-left: 5px;
}
.cart{
    /* text-decoration: underline; */
    margin: 4px;
    /* outline: 1px solid cornflowerblue; */
}
.cart::after{
    content: ']';
}
.cart::before{
    content: '[';
}
#hidden{
    margin: 4px;
}
#hidden::before{
    content: '[';
}
#hidden::after{
    content: ']';
}
.dolbaeb{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff4757;
    font-size: large;
    background-color: #eccc68;
    text-shadow: 1px 1px 0px black;
}